<body>
  <header>
      <a class="navbar-brand">Gerenciador de Tarefas</a>
  </header>
  <div class="container">
      <div class="status-container">
          <div class="status completed">
              <span class="task-count">0</span>&nbsp; Completa
              <div class="tasks-container">

              </div>
          </div>
          <div class="status pending">
              <span class="task-count">0</span>&nbsp; Pendente
              <div class="tasks-container">

              </div>
          </div>
          <div class="status in_progress">
              <span class="task-count">0</span>&nbsp; Em Progresso
              <div class="tasks-container">
              </div>
          </div>
      </div>
  </div>

  <h2>Lista de Tarefas</h2>

  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Descrição"     name="descricao"    >
      <input type="text" class="form-control" placeholder="Status"    name="status"   >
    </div>

    <input type="button" value="Adicione uma nova Tarefa"  class="btn btn-primary"   >
    <input type="button" value="Alterar"   class="btn btn-warning"                >
    <input type="button" value="Remover"  class="btn btn-danger"                 >
    <input type="button" value="Cancelar"  class="btn btn-secondary"            >
  </form>

  <div class="container-table">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Descrição</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

