<body>
  <header>
      <a class="navbar-brand">Gerenciador de Tarefas</a>
  </header>
  <div class="container">
      <div class="status-container">
          <div class="status completed">
              <span class="task-count">0</span>&nbsp; Completa
              <div class="tasks-container">

              </div>
          </div>
          <div class="status pending">
              <span class="task-count">0</span>&nbsp; Pendente
              <div class="tasks-container">

              </div>
          </div>
          <div class="status in_progress">
              <span class="task-count">0</span>&nbsp; Em Progresso
              <div class="tasks-container">
              </div>
          </div>
      </div>
  </div>
  <h2>Lista de Tarefas</h2>
  <div class="container-table">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

